<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title></title>
		<!-- 导入Vue的包 -->
		<script src="./lib/vue.js"></script>
		<link rel="stylesheet" href="./lib/bootstrap.css">
	</head>
	
	<body>
		
		<div id="app">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title"></h3>
				</div>
				<div class="panel-body form-inline">
					<label>Id：
						<input type="text" class="form-control" v-model="id"  />
					</label>
					<label>Name：
						<input type="text" class="form-control" v-model="name" />
					</label>
					<button type="button" class="btn btn-primary" @click="add">添加</button>
					<label>搜索名称关键字：
						<input type="text" class="form-control" v-model="keywords">
					</label>
				</div>
			</div>
			
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Ctime</th>
					<th>Operation</th>
					</tr>
				</thead>
				<tr v-for="item in serach(keywords)" :key="item.id">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.ctime}}</td>
					<td>
						<a href="" @click.prevent="del(item.id)">删除</a>
					</td>
				</tr>
			</table>
			
		</div>
		<script>
		
			//创建 Vue 实例,得到 ViewModel
			var vm = new Vue({
				el:'#app',
				data:{
					id:'',
					name:'',
					keywords:'',
					list:[
						{id:1,name:'宝马',ctime: new Date()},
						{id:2,name:'奔驰',ctime: new Date()}
					]
				},
				methods:{
					
					serach(keywords){
						// var newList = []
					/*	this.list.forEach(item=>{
							if(item.name.indexOf(keywords) != -1){
								newList.push(item)
							}
						})
						return newList */
						
						//注意: forEach some filter findIndex
					return this.list.filter(item=>{
							//ES6新方法 为字符串提供了一个新方法 String.prototype.includes('要包含的字符串')
							//如果包含返回 true 否则返回false
							if(item.name.includes(keywords)){
								return item
							}
						})
					},
					
					add(){
							this.list.push({id:this.id,name:this.name,ctime:new Date()})					
							this.id = this.name = ""
					},
					del(id){
						//根据id获取索引
					/*	this.list.some((item,i)=>{
							if(item.id == id){
								this.list.splice(i,1)
								return true;
							}
						})
					*/
				 var index = this.list.findIndex((item)=>{
					 if(item.id == id){
						 return true;
					 }
				 })
				 //console.log(index)
				 this.list.splice(index,1)
					}
				}
			})
		</script>

	</body>
</html>